/*
* {
	margin: 0;
	padding: 0;
	border: 0;
}
*/

body {
  background-color: black;
	color: white;
}

.canvas-container {
	float: left;
	padding-left: 15px;
	padding-top: 15px;
}

.controls {
	padding-top: 15px;
	padding-right: 15px;
	float: right;
}

input {
	width: 50px;
}

input[type="range"] {
	width: 100px;
}
